/* Utility */
.border {
  border: 3px dashed black;
}

/* Regole */
:root {
  --page-gutter: 20%;
  --f2: 0;
  font-family: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* font-family: 'Open Sans', sans-serif; */

body * {
  font-family: "Open Sans", sans-serif;
}

/* FORMATTAZIONE */

/* HEADER */

header {
  background-color: #255ee9;
  display: flex;
  justify-content: center;
  padding: 20px var(--page-gutter);
  box-sizing: content-box;
  height: 80px;
}

.logo {
  height: 50px;
  align-self: center;
}

.logo:hover {
  cursor: pointer;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Formattazione link header */
.nav {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 60%;
  align-items: center;

  /* TESTO */
  font-size: 1rem;
  font-weight: 700;
}

.nav li {
  padding: 0 0;
  /* border: 3px dashed black; */
  display: inline-block;
  color: white;
}

/* Override link visitato */
.nav li:hover {
  text-decoration: underline;
}

a:visited {
  color: white;
}

/* Pulsanti */

.buttonwrap {
  align-self: center;
}

.button {
  color: black;
  box-sizing: content-box;
  padding: 10px 20px;
  text-align: center;
  background-color: white;
  border-style: none;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1rem;
}

.button:visited {
  color: black;
}

.button:hover {
  color: rgb(235, 95, 235);
  text-align: center;
  box-shadow: 0px 0px 20px #3a3a3a;
  transition-duration: 0.3s;
  cursor: pointer;
}

/* Download section 1 */

.dwn1 {
  background-image: url(./img/jumbo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  flex-shrink: 1;
  flex-wrap: nowrap;
}

.dsection1 {
  margin: 0 25%;
  height: max-content;
  /* DEBUG */
  text-align: center;
  align-self: center;
}

.title {
  color: white;
  font-size: 3.7rem;
  font-weight: 900;
  margin-bottom: 50px;
}

.paragraph {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 2rem;
  text-justify: auto;
}

.bigbuttons {
}

.downloadbutton {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: white;
  border-style: none;
  padding: 20px 30px;
  border-radius: 50px;
  margin: 20px 30px;
}

.downloadbutton:visited {
  color: black;
}

.downloadbutton:hover {
  color: rgb(235, 95, 235);
  text-align: center;
  box-shadow: 0px 0px 20px #3a3a3a;
  transition-duration: 0.3s;
  cursor: pointer;
}

.blackbutton {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #23272a;
  border-style: none;
  padding: 20px 30px;
  border-radius: 50px;
  margin: 20px 30px;
}

.blackbutton:hover {
  text-align: center;
  box-shadow: 0px 0px 20px #3a3a3a;
  transition-duration: 0.3s;
  cursor: pointer;
}

/* Sezioni Immagini - Testo */

/* Impostazioni Fonts */
.subtitle {
  padding: 40px 40px 0 40px;
  color: #23272a;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -3px;
  word-spacing: 10px;
  margin-bottom: 30px;
  line-height: 3.2rem;
}

.blackparagraph {
  padding: 0 40px 40px 40px;
  color: #23272a;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: -1px;
  word-spacing: 10px;
}

/* Immagini */
.img1 {
  /* DEBUG */
  background-image: url(./img/item1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70%;
  align-content: center;
}

.img2 {
  /* DEBUG */
  background-image: url(./img/item2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70%;
  align-content: center;
}

.img3 {
  /* DEBUG */
  background-image: url(./img/item3.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70%;
  align-content: center;
}

/* Riquadri testo */

.text {
  /* DEBUG */
  width: 30%;
  align-content: center;
}

/* Sezioni container img-text */

.stdcontainer:nth-of-type(even) .imgrow {
  padding: 60px var(--page-gutter);
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.stdcontainer:nth-of-type(odd) .imgrow {
  flex-direction: row-reverse;
  padding: 80px var(--page-gutter);
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

/* Download section 2 */

.dwn2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px var(--page-gutter);
  text-align: center;
}

.stars {
  color: #23272a;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -3px;
  padding: 40px 60px;
  word-spacing: 10px;
  line-height: 3.2rem;
  background-image: url(./img/stars.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
}

.downloadbutton2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #587ded;
  border-style: none;
  padding: 20px 30px;
  border-radius: 50px;
  margin: 10px auto 150px auto;
  width: fit-content;
  align-self: center;
}

.downloadbutton2:hover {
  text-align: center;
  box-shadow: 0px 0px 20px #3a3a3a;
  transition-duration: 0.3s;
  cursor: pointer;
}

/* Footer */

.purpletitle {
  color: #587ded;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -3px;
  padding: 40px 60px;
  word-spacing: 10px;
  line-height: 3rem;
}

footer {
  background-color: #23272a;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 20px var(--page-gutter);
}

.links {
  display: flex;
  flex-flow: row nowrap;
}
.social {
  width: 30%;
  /* debug */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.lingua {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 60px;
}

.lingua:hover {
  cursor: pointer;
}

.flag {
  max-height: 1rem;
}

.endpage-links {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.endpage-links li {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 2rem;
}

.endpage-links li:first-child {
  color: #587ded;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 2.5rem;
}

.endpage-links li:not(.label):hover {
  text-decoration: underline;
}

.purpleline {
  height: 3px;
  background-color: #587ded;
  border: none;
}

/* Footer "header" */

.footlinks {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-content: center;
}

.signupbutton_wrap {
  align-self: center;
}

.buttonend {
  color: white;
  background-color: #587ded;
  box-sizing: content-box;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1rem;
  height: 50px;
}

.buttonend:hover {
  cursor: pointer;
  background-color: #b1c1f5;
  transition-duration: 0.3s;
}

.buttonend:visited {
  color: white;
}

/* Wave divider */
.stdcontainer:nth-of-type(odd) {
  background-color: #f6f6f6;
}

.stdcontainer:nth-of-type(even) {
  background-color: white;
}

.stdcontainer:nth-of-type(odd)::before {
  content: "";
  display: block;
  background-image: url(./img/wave.svg);
  background-position: center;
  background-size: cover;
  transform: scale(-1, -1);
  height: 60px;
  filter: invert(100%);
}

.stdcontainer:nth-of-type(odd):not(:last-of-type)::after {
  content: "";
  display: block;
  background-image: url(./img/wave.svg);
  background-position: center;
  background-size: cover;
  height: 60px;
  filter: invert(100%);
}

/* SOCIAL ICONS */

.icone {
  margin: 20px 0 0 60px;
}

[class~="fa-brands"] {
  size: 20px;
  margin: 15px;
}

[class~="fa-brands"]:first-of-type {
  size: 20px;
  margin: 0 15px 15px 0;
}

[class~="fa-brands"]:hover {
  cursor: pointer;
}
