/* Utility */
.border {
  border: 3px dashed black;
}

header > * {
  /* DEBUG HEADER */
  background-color: orange;
}

.grey {
  background-color: grey;
}

.blue {
  background-color: blue;
}

.wrap {
  width: 65%;
}
/* Regole */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* FORMATTAZIONE */

header {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.head {
  display: flex;
  justify-content: space-between;
}

.nav li {
  border: 3px dashed black;
  display: inline-block;
}

.img {
  /* DEBUG */
  background-color: pink;
  width: 40%;
}

.text {
  /* DEBUG */
  background-color: dodgerblue;
  width: 60%;
}

.dwn1 {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.dsection1 {
  margin: 0 25%;
  height: 500px;
  /* DEBUG */
  background-color: violet;
}
