/* Utility */
.border {
  border: 3px dashed black;
}

header > * {
  /* DEBUG HEADER */
  background-color: orange;
}

.grey {
  background-color: grey;
}

.blue {
  background-color: blue;
}

.wrap {
  padding: 0 var(--page-gutter);
}
/* Regole */
:root {
  --page-gutter: 20%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* FORMATTAZIONE */

header {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  padding: 20px var(--page-gutter);
  box-sizing: content-box;
  height: 80px;
}
.w25 {
  width: 25%;
}

.w50 {
  width: 50%;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav {
  padding: 0 var(--page-gutter);
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

.nav li {
  padding: 0 0;
  /* border: 3px dashed black; */
  display: inline-block;
  flex: 1;
}

/* Download section 1 */

.dwn1 {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.dsection1 {
  margin: 0 25%;
  height: 500px;
  /* DEBUG */
  background-color: violet;
}

/* Sezioni Immagini - Testo */

/* Common */
.img {
  /* DEBUG */
  background-color: pink;
  width: 40%;
  height: 600px;
}

.text {
  /* DEBUG */
  background-color: dodgerblue;
  width: 60%;
  height: 600px;
}

/* imgtext */

.imgtext {
  background-color: white;
  padding: 20px var(--page-gutter);
  display: flex;
  justify-content: center;
}

.imgtext2 {
  background-color: gainsboro;
  flex-direction: row-reverse;
  padding: 20px var(--page-gutter);
  display: flex;
  justify-content: center;
}

/* Download section 2 */

.dwn2 {
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px var(--page-gutter);
}

.dsection2 {
  height: 900px;
  width: 100%;
  /* DEBUG */
  background-color: green;
}

/* Footer */

footer {
  background-color: dimgrey;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 20px var(--page-gutter);
}

.links {
  display: flex;
  flex-flow: row nowrap;
}
.social {
  width: 30%;
  height: 700px;
  /* debug */
  background-color: palevioletred;
}

.endpage-links {
  border: 3px dotted black;
  display: flex;
  flex-direction: column;
  height: 700px;
  flex-grow: 1;
  background-color: lightseagreen;
}
